<div class="container">
	<div class="row">
		<ul class="nav nav-pills col-md-7 clearfix">
			<li><a href="#">Contact</a></li> 
		</ul>
			<ul class="social nav nav-pills col-md-5 clearfix">
			<li><a onclick="alert('TRO LOL DE MDR');" href="https://www.youtube.com/watch?v=oavMtUWDBTM"><span class="fa fa-facebook-square fa-lg"></span><span class="sr-only"> Facebook (external link)</span></a></li> 
		</ul>
	</div>
	<div class="row">
		<ul class="small nav nav-pills col-sm-12">
			<li><a href="#">Accessibility</a></li>
			<li><a href="#">Languages</a></li>
			<li><a href="#">Cookies</a></li>
			<li><a href="#">Terms and disclaimer</a></li>
			<li><a href="#">Privacy</a></li>
		</ul>
	</div>
</div>