<meta charset="utf-8" />
<title>ohmyTrip</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="cleartype" content="on">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="apple-mobile-web-app-title" content="ohmytrip">
<meta name="description" content="choose your travail anywhere" />
<meta property="og:title" content="ohmyTrip" />
<meta property="og:description" content="choose your travel anywhere">
<script>
    if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
        var msViewportStyle = document.createElement("style");
        msViewportStyle.appendChild(
        	document.createTextNode(
        		"@-ms-viewport{width:auto!important}"
        	)-
        );
        document.getElementsByTagName("head")[0].
        appendChild(msViewportStyle);
    }
</script>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:700|Open+Sans:400,700' rel='stylesheet' type='text/css'>

<!--[if ! lte IE 8]><!-->
	<link rel="stylesheet" media="not print" href="static/css/style.css"/>
<!--<![endif]-->

<!--[if lte IE 8]>
	<link rel="stylesheet" media="screen" href="static/css/legacy.css" />
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->