<!DOCTYPE html>
<!--[if lte IE 7 ]><html lang="en" class="old"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="en"><!--<![endif]-->
	<head>
		{% include 'head.html' %}
	</head>
	<body>
		<a href="#" class="sr-only skip-link" tabindex="1">Accessibility</a>
		<a href="#content" class="sr-only skip-link" tabindex="2">Skip to main content</a>
		<div class="navbar navbar-inverse" role="navigation">
			{% include 'body/top/top.html' %}			
		</div>
		<div class="container" id="content">
			{% include 'body/content/content.html' %}
		</div>
		<footer role="contentinfo">
			{% include 'body/foot/foot.html' %}
		</footer>
	</body>
</html>